.menu-btn {
  width: 100%;
  border: none;
  margin-top: 5px;
  background-color: #38384f;
  color: #bfbfff;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s; }
  .menu-btn:hover {
    color: white; }

.salles-menu-wrapper {
  margin-bottom: 10px;
  color: white; }

.salles-menu {
  background-color: #bfbfff; }
  .salles-menu ul {
    padding-left: 0;
    padding: 5px 15px;
    list-style: none; }
  .salles-menu li {
    display: inline-block;
    width: 50%; }
  .salles-menu input {
    color: #38384f; }

.competences-menu button {
  width: 100%; }

.salle-cell {
  border: solid white 3px;
  padding: 3px;
  color: #38384f;
  margin-bottom: 3px;
  position: relative; }

.cours-btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: #38384f;
  border: solid 1px #58586d;
  border-radius: 5px;
  transition: all 0.3s; }
  .cours-btn:hover {
    background-color: white; }

.input-half {
  width: 45%;
  display: inline-block;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%; }

header {
  background-color: rgba(191, 191, 255, 0.5);
  margin-bottom: 20px; }

main {
  margin-top: 20px; }

h1, h2 {
  color: #38384f;
  -webkit-text-stroke: 2px white;
  font-weight: bold; }

h2 {
  padding: 5px; }

.zone-candidat {
  font-size: 1.3em; }

.logo {
  width: 100%; }

.add-btn, .add-cours-btn {
  padding: 0 5px;
  background-color: transparent;
  color: white;
  border: none;
  display: block;
  font-size: 1.3em;
  margin-right: 0;
  margin-left: auto; }

.add-cours-btn {
  color: #38384f;
  background-color: #bfbfff;
  border: solid 2px white;
  padding: 0 10px; }

.del-btn {
  padding: 0 5px;
  background: transparent;
  color: white;
  border: none;
  font-size: 1.3em; }

.zone-candidat {
  background-color: #38384f;
  border-radius: 10px; }

.col-day {
  background-color: rgba(191, 191, 255, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  border: solid white 3px; }

.candidat-liste {
  color: white;
  padding: 5px;
  text-align: center; }
  .candidat-liste ul {
    padding-left: 0;
    list-style: none; }
    .candidat-liste ul li {
      border-bottom: dashed 1px white; }

.form, .cours-edit-form {
  background-color: rgba(56, 56, 79, 0.5);
  color: #38384f;
  padding: 5px;
  border-radius: 5px; }
  .form select, .cours-edit-form select {
    width: 45%;
    box-sizing: border-box; }
  .form input[type=text], .cours-edit-form input[type=text] {
    width: 90%; }

.day-wrapper-top, .day-wrapper-bottom {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #bfbfff;
  box-sizing: border-box;
  border: solid white 3px;
  border-bottom: none;
  padding-bottom: 5px; }

.day-wrapper-bottom {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  padding-bottom: 35px; }
  .day-wrapper-bottom form {
    padding-top: 5px; }
  .day-wrapper-bottom select {
    width: 45%; }
  .day-wrapper-bottom input {
    margin: 5px 0; }
  .day-wrapper-bottom input[type=submit] {
    width: 100%; }

.add-cours-form {
  color: #38384f; }

.cours-candidat {
  padding: 0 5px;
  border: solid white 1px;
  width: 33%;
  display: inline-block;
  overflow-x: hidden;
  cursor: pointer;
  opacity: 0.8; }
  .cours-candidat:hover {
    opacity: 1; }

.cours-libelle {
  overflow-x: hidden;
  color: #38384f; }

.candidat-cell {
  height: 60px; }

.liste-cours {
  overflow-y: hidden; }

/*# sourceMappingURL=EDTmain.css.map */
