@import var
@import salles

html, body
    margin: 0
    padding: 0
    position: relative
    min-height: 100%

header
    background-color: $color3-half
    margin-bottom: 20px

main
    margin-top: 20px

h1
    color: $color4
    -webkit-text-stroke : 2px white
    font-weight: bold

h2
    @extend h1
    padding: 5px

.zone-candidat
    font-size: 1.3em
.logo
    width: 100%

.add-btn
    padding: 0 5px
    background-color: transparent
    color: white
    border: none
    display: block
    font-size: 1.3em
    margin-right: 0
    margin-left: auto

.add-cours-btn
    @extend .add-btn
    color: $color4
    background-color: $color3
    border: solid 2px white
    padding: 0 10px

.del-btn
    padding: 0 5px
    background: transparent
    color: white
    border: none
    font-size: 1.3em

.zone-candidat
    background-color: $color4
    border-radius: 10px

.col-day
    background-color: $color3-half
    border-radius: 10px
    box-sizing: border-box
    border: solid white 3px

.candidat-liste
    color: white
    padding: 5px
    text-align: center

    ul
        padding-left: 0
        list-style: none
        li
            border-bottom: dashed 1px white

.form
    background-color: $color4-half
    color: $color4
    padding: 5px
    border-radius: 5px

    select
        width: 45%
        box-sizing: border-box

    input[type=text]
        width: 90%

.day-wrapper-top
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    background-color: $color3
    box-sizing: border-box
    border: solid white 3px
    border-bottom: none
    padding-bottom: 5px

.day-wrapper-bottom
    @extend .day-wrapper-top
    border-top-left-radius: 0px
    border-top-right-radius: 0px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    border-top: none
    padding-bottom: 35px

    form
        padding-top: 5px
    select
        width: 45%
    input
        margin: 5px 0

    input[type=submit]
        width: 100%

.add-cours-form
    color: $color4

.cours-candidat
    padding: 0 5px
    border: solid white 1px
    width: 33%
    display: inline-block
    overflow-x : hidden
    cursor: pointer
    opacity: 0.8
    &:hover
        opacity: 1


.cours-libelle
    overflow-x: hidden
    color: $color4

.candidat-cell
    height: 60px

.liste-cours
    overflow-y: hidden
