<div class"liste-cours">
    <div ng-style='{"background-color" : getColor(cours)}' ng-repeat="cours in day.cours" ng-show="hasCandidat(cours, candidat)"  class="cours-candidat">{{cours.topic.nom}}</div>
    <button ng-click="addFormToggle()" class="del-btn">+</button>
</div>
<form ng-if="addCoursFormDisplay" class="add-cours-form" ng-submit="addCours(day, candidat)">
    <select ng-options="cours.topic.nom for cours in day.cours" ng-model="newCours">
        <input type="submit" value="ajouter"/>
    </select>
</form>
